<div>
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <h2 translate="password.title" translate-values="{username: '{{account.login}}'}">Mot de passe</h2>

            <div class="alert alert-success" ng-show="success" >
                <strong>Mot de passe changé!</strong>
            </div>
            <div class="alert alert-danger" ng-show="error" >
                <strong>Une erreur s'est produite!</strong> Le mot de passe n'a pas pu être changé.
            </div>

            <div class="alert alert-danger" ng-show="doNotMatch" >
                Le mot de passe est la confirmation ne sont pas les mêmes!
            </div>

            <form name="form" role="form" novalidate ng-submit="changePassword()" show-validation>

                <div class="form-group">
                    <label >Neauveau mot de passe</label>
                    <input type="password" class="form-control" name="password" placeholder="{{'global.form.newpassword.placeholder' | translate}}"
                           ng-model="password" ng-minlength=5 ng-maxlength=50 required>
                    <div ng-show="form.password.$dirty && form.password.$invalid">
                        <p class="help-block"
                           ng-show="form.password.$error.required" >
                            Votre mot de passe est requis.
                        </p>
                        <p class="help-block"
                           ng-show="form.password.$error.minlength" >
                            Votre mot de passe doit contenir au moins 5 caractères
                        </p>
                        <p class="help-block"
                           ng-show="form.password.$error.maxlength" >
                            Votre mot de passe ne peut pas contenir plus de 50 caractères
                        </p>
                    </div>
                    <password-strength-bar password-to-check="password"></password-strength-bar>
                </div>
                <div class="form-group">
                    <label>Nouveau mot de passe confirmer</label>
                    <input type="password" class="form-control" name="confirmPassword" placeholder="{{'global.form.confirmpassword.placeholder' | translate}}"
                           ng-model="confirmPassword" ng-minlength=5 ng-maxlength=50 required>
                    <div ng-show="form.confirmPassword.$dirty && form.confirmPassword.$invalid">
                        <p class="help-block"
                           ng-show="form.confirmPassword.$error.required" >
                            La confirmation de votre mot de passe est requise.
                        </p>
                        <p class="help-block"
                           ng-show="form.confirmPassword.$error.minlength" >
                            La confirmation de votre mot de passe doit contenir au moins 5 caractères
                        </p>
                        <p class="help-block"
                           ng-show="form.confirmPassword.$error.maxlength" >
                            La confirmation de votre mot de passe ne peut pas contenir plus de 50 caractères
                        </p>
                    </div>
                </div>

                <button type="submit" ng-disabled="form.$invalid" class="btn btn-primary" >Enregistrer</button>
            </form>
        </div>
    </div>
</div>
