<div>

    <h2Client</h2>

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4">
                <button class="btn btn-primary" data-toggle="modal" data-target="#saveClientModal" ng-click="clear()">
                    <span class="glyphicon glyphicon-flash"></span> <span>Créer nouveau client</span>
                </button>
            </div>
        </div>
    </div>

    <div class="modal fade" id="saveClientModal" tabindex="-1" role="dialog" aria-labelledby="myClientLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <form name="editForm" role="form" novalidate ng-submit="create()" show-validation>

                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                ng-click="clear()">&times;</button>
                        <h4 class="modal-title" id="myClientLabel">Créer ou diter un nouveau client</h4>
                    </div>
                    <div class="modal-body">

                        <div class="form-group">
                            <label>Nom</label>
                            <input type="text" class="form-control" name="nom"
                                   ng-model="client.nom" required>

                            <div ng-show="editForm.nom.$invalid">
                                <p class="help-block"
                                   ng-show="editForm.nom.$error.required">
                                    Ce champs est obligatoire.
                                </p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Email</label>
                            <input type="text" class="form-control" name="email"
                                   ng-model="client.email">

                        </div>
                        <div class="form-group">
                            <label>Tel</label>
                            <input type="number" class="form-control" name="tel"
                                   ng-model="client.tel">

                        </div>
                        <div class="form-group">
                            <label >Adresse</label>
                            <input type="text" class="form-control" name="adresse"
                                   ng-model="client.adresse">

                        </div>

                        <div class="form-group">
                            <label>Distance</label>
                            <select class="form-control" name="distance" ng-model="client.distance.id" ng-options="distance.id as distance.distance for distance in distances">
                            </select>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Annuler</span>
                        </button>
                        <button type="submit" ng-disabled="editForm.$invalid" class="btn btn-primary">
                            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Sauvegarder</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="modal fade" id="deleteClientConfirmation">
        <div class="modal-dialog">
            <div class="modal-content">
                <form name="deleteForm" ng-submit="confirmDelete(client.id)">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                ng-click="clear()">&times;</button>
                        <h4 class="modal-title">Confirmer l'opération de suppression</h4>
                    </div>
                    <div class="modal-body">
                        <p>Etes vous sur de vouloir spprimmer ce client?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Annuler</span>
                        </button>
                        <button type="submit" ng-disabled="deleteForm.$invalid" class="btn btn-danger">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span>Supprimmer</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Nom</th>
                    <th>Email</th>
                    <th>Tel</th>
                    <th>Adresse</th>
                    <th>distance</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="client in clients">
                    <td><a ui-sref="clientDetail({id:client.id})">{{client.nom}}</a></td>
                    <td>{{client.email}}</td>
                    <td>{{client.tel}}</td>
                    <td>{{client.adresse}}</td>
                    <td>{{client.distance.distance}}</td>
                    <td>
                        <button type="submit"
                                ui-sref="clientDetail({id:client.id})"
                                class="btn btn-info btn-sm">
                            <span class="glyphicon glyphicon-eye-open"></span>&nbsp;<span> Détails</span>
                        </button>
                        <button type="submit"
                                ng-click="update(client.id)"
                                class="btn btn-primary btn-sm">
                            <span class="glyphicon glyphicon-pencil"></span>&nbsp;<span> Editer</span>
                        </button>
                        <button type="submit"
                                ng-click="delete(client.id)"
                                class="btn btn-danger btn-sm">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span> Supprimmer</span>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
        <nav>
            <ul class="pager">
                <li ng-show="links['first']" ng-click="loadPage(links['first'])"><a href="#">&lt;&lt;</a></li>
                <li ng-show="links['prev']" ng-click="loadPage(links['prev'])"><a href="#">&lt;</a></li>
                <li ng-show="links['next']" ng-click="loadPage(links['next'])"><a href="#">&gt;</a></li>
                <li ng-show="links['last']" ng-click="loadPage(links['last'])"><a href="#">&gt;&gt;</a></li>
            </ul>
        </nav>
    </div>
</div>
